.highlight {
    background-color: crimson;
    color: black;
    font-size: larger;
}

#item::marker {
    color: red;
    font-size: 1rem;
    vertical-align: center;
}

#item {
  color:darkblue;
  font-weight: 900;
}

a {
    text-decoration: none;
    font-size: larger;
}