/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v50-latin-regular.woff2") format("woff2");
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v50-latin-700.woff2") format("woff2");
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/open-sans-v44-latin-regular.woff2") format("woff2");
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/open-sans-v44-latin-700.woff2") format("woff2");
}

:root {
  /* font size  */
  --fs-lg: 1.5rem;
  --fs-md: 1.2rem;
  --fs-base: 1.05rem;
  /* font family  */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  /* colors  */
  --clr-title: #51b0d2;
  --grey: #ecf0f3;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--ff-secondary);
  background-color: var(--grey-01);
}

header {
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
}

.nav__title {
  color: var(--clr-title);
  font-family: var(--ff-primary);
  letter-spacing: 4px;
  font-size: var(--fs-lg);
  font-weight: 700;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.container__title  {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #000500;
    color: #FFFBFF;
    font-size: var(--fs-md);
    text-transform: capitalize;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: var(--fs-base);
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    border-radius: 0.6rem;
    border: 2px solid #000500;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 700;
}

.btn:hover {
    background-color: #000500;
    color: var(--grey); 
}


