*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #a390e4, #c69dd2, #7f7eff);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#btn {
  padding: 0.8rem 2rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #cc8866, #7f5eff);
  color: rgb(47, 47, 47);
  font-size: 1.1rem;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(47, 47, 47, 0.5);
}

#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.toast {
  background: linear-gradient(90deg, #7f5eff, #cc8866);
  color: rgb(47, 47, 47);
  padding: 0.8rem 1rem;
  border-radius: 6px;
  animation: fadeIn 0.3s ease;
  margin-top: 0.6rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
